<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vendor and Order Tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Order Details: </h1>

    <h1>Vendor: @Model["vendor"].Name</h1>
    <h2>Order: @Model["order"].Title</h2>
    <h2>Description: @Model["order"].Description</h2>
    <h2>Price: $ @Model["order"].Price</h2>
    <h2>Date: @Model["order"].Date.Month/@Model["order"].Date.Day/@Model["order"].Date.Year</h2>

    <p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a></p>
    <p><a href='/vendors/@Model["vendor"].Id'>Back to @Model["vendor"].Name's order list</a></p>
    <p><a href='/vendors'>View all vendors</a></p>
  </body>
</html>